<!DOCTYPE html>
<html>
<head>
  <title>WebStyle</title>
  <%= stylesheet_link_tag    "web_style/application", media: "all" %>
  <%= javascript_include_tag "web_style/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
