<!DOCTYPE html>
<html>
<head>
  <title>StateMachines</title>
  <%= stylesheet_link_tag    "state_machines/application", media: "all" %>
  <%= javascript_include_tag "state_machines/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
