

  <div class="row">
    <div class="col-xs-6">
      <h4 class="pull-left">Groups</h4>
    </div>
    <div class="col-xs-6">
      <%= link_to :new_group, :title => 'New Group', :remote => true do %>
          <button type="" class="btn bg-navy margin-top pull-right">+Add Group</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body" id="table_content">
            <%= render :partial => 'table', :locals => {groups: @groups} %>
        </div>
      </div>
    </div>
  </div>

