<table id="groups_table" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Scope</th>
    <th>Users</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <!-- table data is getting loaded by Ajax call. See init.js -->
  <!-- <#= render partial: 'table_row' , collection: groups , as: :group %> -->
  </tbody>
</table>